body {
    background-color: rgb(0, 0, 0);
    color: rgb(0, 255, 4);
     background-image: url("afbeeldingen/matrix-356024_1280.webp");
/* Hier wordt zowel de textkleur, als het achtergrondplaatje weergegeven, de background-color tag word hier niet gebruikt, maar op een pagina waarbij geen achtergrondplaatje gebruikt word, is dit de standaard kleur. */
}  


.title {
  font-family: "Lucida Console", "Courier New", monospace;
}
.paragraaf{
  font-family: "Lucida Console", "Courier New", monospace;
}
.menu{
  font-family: "Lucida Console", "Courier New", monospace;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #272727;
}
/* met ul word unordered list bedoeld. Deze zinnen CSS zorgen voor het uiterlijk van de list. En ook wat er gebeurt als je over de linkjes hovert.*/
ul li {
  float: left;
}

ul li a {
  display: block;
  color: white;
  text-align: center;
  text-decoration: none;
  padding: 20px 20px;
}

ul li a:hover {
  background-color: #5fff03;
  color: black;
  transition: 1sf; /* Door hierbij transistion toe te voegen kan het menu 'vloeiend' worden aangeklikt*/
}
footer {
  margin-top: 200px;
  
}
button {
  size: 50;
  color: #000000;
  background-color: #5fff03;
}

/* Met de footer en de button zorg je voor het stuk tekst onderaan, en welke kleur de knopjes zijn, om daar andere websites te bewegen.*/
iframe{
  padding-top: 50px;
  padding-left: 30px;

}
/*Het spel 'binairy bonanza' stond verkeerd op de pagina, door padding toe te voegen word er ruimte gecreërd om het wat overzichtelijker te maken.*/